numba
librosa
scipy
torch
unidecode
openjtalk>=0.3.0.dev2
jamo
pypinyin
numpy==1.23.0
jieba
protobuf
cn2an
inflect
eng_to_ipa
ko_pron
indic_transliteration
num_thai
opencc
uvicorn
fastapi
pydantic
loguru
soundfile
audonnx